.nav_bar {
  width: 100%;
  height: 8vh;
  background-color: #f7f7f7;
  box-shadow: 0 2px 7px 0 rgba(0, 0, 0, 0.3);
  top: 0;
  display: flex;
  justify-content: space-around;
}

.logout_btn {
  font-family: "Inter var";
  font-size: 15px;
  font-weight: 500;
  border: none;
  margin-left: 4px;
  background: rgba(255, 255, 255, 0);
  cursor: pointer;
}

.emptydog_container {
  margin: auto;
  margin-top: 25px;
  width: 50%;
  display: flex;
  justify-content: center;
}

.navbar_gif {
  height: 50%;
  width: 20%;
  margin-top: 25px;
  margin-right: 20px;
}

.logo {
  color: black;
  font-weight: 900;
  font-size: 1.3rem;
  margin-top: 9px;
}

.profile_container {
  display: flex;
  justify-content: space-around;
}

.dog_btn {
  background-color: #ffbd00;
  color: white;
  box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);

  font-family: "Inter var";
  font-weight: bold;
  border-radius: 3%;
  border: none;
  cursor: pointer;
  transition: 0.1s;
  margin-bottom: 20px;
}

.dog_msj {
  font-size: 3rem;
  font-weight: bold;
}

.dog_btn:hover {
  background-color: #fca311;
}
