.notLogged_container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100vh;
}

.bg_img {
  max-width: 99%;
  max-height: 99%;
}

.message_container {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10.5px);
  -webkit-backdrop-filter: blur(10.5px);
  margin-top: -10px;
  height: 50vh;
  width: 100%;
  position: absolute;
}
