.notLogged_container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  height: 100vh;
}

.bg_img {
  max-width: 99%;
  max-height: 99%;
}

.message_container {
  height: 100vh;
  width: 100%;
  position: absolute;
}
