@import url("https://rsms.me/inter/inter.css");
html {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  html {
    font-family: "Inter var", sans-serif;
  }
}

.img_container {
  width: 100%;
  margin-top: 10px;
}

.img {
  border-radius: 3%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
