@import url("https://rsms.me/inter/inter.css");
body {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", sans-serif;
  }
}

.dog_msj {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
  background: linear-gradient(
    to right,
    rgb(0, 140, 255) 20%,
    rgb(0, 221, 255) 40%,
    rgb(255, 0, 217) 60%,
    rgb(221, 0, 255) 80%
  );
  background-size: 200% auto;

  color: #000;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: shine 10s linear infinite;
}

@keyframes shine {
  to {
    background-position: 200% center;
  }
}

.dog_btn {
  background-color: rgb(255, 0, 55);
  color: white;
  font-family: "Inter var";
  font-weight: bold;
  border-radius: 3%;
  border: none;
  cursor: pointer;
  transition: 0.2s;
}

.dog_btn:hover {
  background-color: rgb(215, 1, 47);
}
