@import url("https://rsms.me/inter/inter.css");
body {
  font-family: "Inter", sans-serif;
}
@supports (font-variation-settings: normal) {
  body {
    font-family: "Inter var", sans-serif;
  }
}

.dog_msj {
  font-size: 2rem;
  font-weight: bold;
  color: cadetblue;
  text-align: center;
}

.dog_btn {
  background-color: rgb(255, 0, 55);
  color: white;
  font-family: "Inter var";
  font-weight: bold;
  border-radius: 3%;
  border: none;
  cursor: pointer;
}
